@mixin LeftTopFade($normal_w,$width,$time){
    &.movefade-enter-active{
        overflow: hidden;
        animation: LeftTopFade $time reverse ease;
    }
    &.movefade-leave-active{
        overflow: hidden;
        animation: LeftTopFade $time ease;
    }
    @keyframes LeftTopFade{
        0% {width: $normal_w;opacity: 1;}
        50% {width: $width;opacity: 1;}
        100% {width: $width;opacity: 0;}
    }
}

@mixin Fade($opacity,$time,$delay){
    &.fade-enter-active{
       opacity: 0;
       animation: Fade $time ease reverse;
       animation-delay: $delay;
    }
    &.fade-leave-active{
        animation: Fade $time ease;
//      animation-delay: $delay;
    }
    @keyframes Fade{
        0% {opacity: 1;}
        100% {opacity: 0;}
    }
}

