@mixin border-1px($color){
    position: relative;
    &:after{
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        border-top: solid 1px $color;
        content: "";
        color: $color;
    }
}

@mixin menu-item-border(){
    border-top: 1px solid #202a3c;
    border-bottom: 1px solid #10151d;
}

@mixin border-none(){
    &:after{
        display: none;
    }
}

@mixin bg-image($url){
    background-image: url("./image/" + $url + "@2x.png");
    @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3){
        background-image: url("./image/" +$url + "@3x.png");
    }
}